apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-workers
spec:
  replicas: 50   # ← ЗДЕСЬ количество контейнеров
  selector:
    matchLabels:
      app: python-worker
  template:
    metadata:
      labels:
        app: python-worker
    spec:
      containers:
        - name: worker
          image: my-python-app:latest
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"
